<%= provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
             <h1><%= gravatar_for @user %></h1>
             <br/>
             <h1><%= @user.name %> </h1>
        </section>
    </aside>
</div>

<br/>
Timer: <%= Time.now %>

<div>
    <%= @user.name %>, <%= @user.email %>
</div>

<div>
    <br/>
     Created at: <%= @user.created_at %>
     Updated at: <%= @user.updated_at %>
</div>
